name: Screenshot

on:
  push:
    branches: [ master ]

jobs:
  screenshot:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Change directory
      run: cd "MCSL Mobile"
    - name: Install pod
      run: pod install
    - name: Create missing simulator
      run: xcrun simctl create "iPad Pro (12.9-inch) (2nd generation)" "com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---2nd-generation-"
    - name: Take screenshot
      run: bundle exec fastlane screenshots
      env: 
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        FASTLANE_SESSION: ${{ secrets.FASTLANE_SESSION }}

